.barca-primary {
  background-color: rgb(168, 19, 62) ;
  color: white;
}

.barca-secondary {
  background-color: rgb(0, 77, 152);
  color: white;
}

.barca-accent {
  background-color: rgb(237, 187, 0) ;
  color: black;
}

.barca-accent:hover {
  background-color: #cc9900 ;
  color: black;
}

.nav-tabs {
      border-bottom: none ;
    }


  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }